# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
react-admin/node_modules
react-admin/.pnp
react-admin/.pnp.js

# testing
react-admin/coverage

# production
react-admin/build

# misc
react-admin/.DS_Store
react-admin/.env.local
react-admin/.env.development.local
react-admin/.env.test.local
react-admin/.env.production.local

react-admin/npm-debug.log*
react-admin/yarn-debug.log*
react-admin/yarn-error.log*
